body {
    margin: 0px;
    background: url("../images/full-bloom.png"); 
}

/*section 1*/
.header-nav {       /*#header in notes*/
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 25px 20px;
    margin: 0px 204px;
    display: inline-block;
}

nav {
    float: right;
    padding: 20px 200px 0px 0px;
    margin: 0px -33px;
}

a {
    color: #cad9ed;
}
ul {
    margin: 0px;
    list-style-type: none;
    padding: 15px 0px 0px 0px;
}

li {
    padding: 20px;
    display: inline;
}

#border-right {
    border-color: #fafafa;
    border-right-style: solid;
    border-width: 1px;
    margin-right: 3px;
}


/*section 2*/

h2{
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", Serif;
    margin-left: 13px;
}

#width {
    width: 960px;
    margin: 0px auto;
    margin-top: 50px;
}

#main {
    border-color: #dddddd;
    background-color: #ffffff;
    width: 960px;
    display: inline-block;
    padding: 10px;
    padding-top: 0px; 
}
#border {
    border-color: #dddddd;
    border-top-style: solid;
}


