body {
    margin: 0px;

}

/*section 1*/
.header-nav {
    width: 960px;
    height: 200px;  /*seperated sections*/
    margin: 0px 120px;
}


header {
    background-color: #ffffff;
    height: 100px;
    width: 960px;
}
nav {
    padding: 20px;
    margin: 10px;
}


h1 {
    color: #ffffff;
    font-size: 28px;
    background-color: #4aaaa5;
    width: 210px;
    height: 50px;
    float: left;  /*fine*/
}

h3 {
    color: #b6a9a5;
    padding: 20px;
    margin: 10px;
    float: left;
}

/*section 2*/
.about-me {
    clear: both;
}




h2 {
    color: green;
    font-size: 24px;

}
.container {
    width: 1024px;
    margin: 0 auto;
}
#main-bio {
    float: left;
    width: 70%;
}
#contact-info {
    float: left;
}
#bio-image {
    float: left;
    width: 200px;
}


